@import "tailwindcss";

@theme {
  --font-display: var(--font-playfair);
  --font-body: var(--font-poppins);

  --color-primary: #C0914B;
  --color-secondary: #C28978;
  --color-neutral: #777677;
  --color-cream: #FAF5F0;
  
  --color-state-error: #FF3B3B;
  --color-state-warning: #FFCC00;
  --color-state-success: #06C270;
  --color-state-info: #0063F7;
}

/* Custom utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--color-cream);
  color: var(--color-neutral);
}
